<% unless @advisories.nil? || @advisories.empty? %>
<h1><%= @host %></h2>
<table id="advisories_list" class="display">
  <tr>
    <td>Package</td>
    <td>Vulnerability</td>
    <td>Severity</td>
    <td>Kind</td>
    <td>Synopsis</td>
    <td>References</td>
  </tr>
  <% @advisories.keys.sort.each do |package| %>
    <% @advisories[package].keys.sort.each do |version| %>
      <% @advisories[package][version].each do |adv| %>
        <tr>
          <td><%= package %></td>
          <td><%= adv['name'] %></td>
          <td><%= cvss_score_to_text(adv['severity']) %></td>
          <td><%= adv['kind'] %></td>
          <td><%= adv['synopsis'] %></td>
          <td><%= raw(parse_links(adv['references'])) %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>
<% else %>
  <p>No advisories found for <%= @host %>.</p>
<% end %>
