<div id="top_navigation">
  <%= render_navigation(:level => 1) %>
</div>

<p>
<table id="server_list" class="display">
  <thead>
    <tr>
      <td>Host</td>
      <td>Distribution</td>
      <td>Kernel</td>
      <td>Github</td>
    </tr>
  </thead>
  <tbody>
    <% @servers.keys.sort.each do |hostname| %>
      <% next if @opt['show_only_flagged'] == 1 && @flags[hostname].empty? %>
      <tr>
        <td><%= link_to(shorthost(hostname), server_path(shorthost(hostname))) %></td>
        <td>
          <% if check_child(@servers[hostname]['puppetfacts'], 'operatingsystem') == 'windows' %>
            Windows <%= @servers[hostname]['puppetfacts']['operatingsystemrelease'] %>
          <% else %>
            <%= release(check_child(@servers[hostname]['puppetfacts'], 'lsbdistdescription')) %>
          <% end %>
        </td>
        <td>
          <% if check_child(@servers[hostname]['puppetfacts'], 'operatingsystem') != 'windows' %>
            <%= check_child(@servers[hostname]['puppetfacts'], 'kernelversion') %>
          <% end %>
        </td>

        <td><%= raw(github_url(check_child(@servers[hostname]['puppetfacts'], 'github_url'))) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
