<% unless @ossec.nil?  %>
<table id="ossec_show" class="cell-border">
  <tr>
    <td>Host</td>
    <td>Last Run</td>
    <td>Last Clean</td>
    <td>Changed Files</td>
  </tr>
  <tr>
    <td><%= shorthost(@host) %></td>
    <td><%= date_only(@ossec['lastrun']) %></td>
    <td><%= date_only(@ossec['lastclean']) %></td>
    <td><pre><%= ossec_files(@ossec['changed']) %></pre></td>
  </tr>
</table>
<p>To clear these changes, run the following with your root principal:</p>
<pre>remctl sul-ossec.stanford.edu ossec clean <%= @host %></pre>
<% else %>
  <p>No information found for <%= @host %>.</p>
<% end %>
