<p>
  <%= form_tag('/', method: 'get') do %>
    <%= label_tag(:show_only_flagged, 'View only flagged servers:') %>
    <%= check_box_tag(:show_only_flagged, 1, @opt['show_only_flagged']) %>
    <%= submit_tag('Search') %>
  <% end %>
</p>

<table id="server_list" class="display">
  <thead>
    <tr>
      <td>Host</td>
      <td>NetDB</td>
      <td>Resolves</td>
      <td>Cobbler</td>
      <td>PuppetDB</td>
      <td>VMWare</td>
      <td>Status</td>
      <td>Puppet Failure</td>
      <td>Puppet Quiet</td>
      <td>Advisories</td>
      <td>Highest Advisory</td>
      <td>OSSEC</td>
    </tr>
  </thead>
  <tbody>
    <% @servers.keys.sort.each do |hostname| %>
      <% next if @opt['show_only_flagged'] == 1 && @flags[hostname].empty? %>
      <% next if @servers[hostname]['vmware'].key?('template') && @servers[hostname]['vmware']['template'] == 't' %>
      <tr>
        <td><%= link_to(shorthost(hostname), server_path(shorthost(hostname))) %></td>
        <td><%= asterisk(@servers[hostname]['netdb']) %></td>
        <td><%= asterisk(@servers[hostname]['general']['alive']) %></td>
        <td class="<%= status_flag(@flags, hostname, ['general', 'cobbler']) %>"><%= asterisk(@servers[hostname]['general']['cobbler']) %></td>
        <td><%= asterisk(@servers[hostname]['general']['puppetdb']) %></td>
        <td><%= asterisk(@servers[hostname]['vmware']) %></td>
        <td><%= status(check_child(@servers[hostname]['vmware'], 'status')) %></td>
        <td class="<%= status_flag(@flags, hostname, ['puppetstatus', 'failed']) %>">
            <%= asterisk(check_child(@servers[hostname]['puppetstatus'], 'failed')) %>
        </td>
        <td class="<%= status_flag(@flags, hostname, ['puppetstatus', 'too_quiet']) %>">
            <%= check_child(@servers[hostname]['puppetstatus'], 'too_quiet') %>
        </td>
        <td class="<%= status_flag(@flags, hostname, ['general', 'advisory-count']) %>"><%=
          if @servers[hostname]['general'].key?('advisory-count') && @servers[hostname]['general']['advisory-count'] > 0
            link_to(@servers[hostname]['general']['advisory-count'], advisory_path(shorthost(hostname)))
          else
            '-'
          end
        %></td>
        <td><%= cvss_score_to_text(check_child(@servers[hostname]['general'], 'advisory-highest')) %></td>
        <td class="<%= status_flag(@flags, hostname, ['ossec', 'changed']) %>"><%=
          if @servers[hostname].key?('ossec') && @servers[hostname]['ossec'].key?('changed')
            count = @servers[hostname]['ossec']['changed'].count
            if count > 0
              link_to(count, ossec_path(shorthost(hostname)))
            else
              count
            end
          else
            '-'
          end
        %></td>
      </tr>
    <% end %>
  </tbody>
</table>
