<div id="top_navigation">
  <%= render_navigation(:level => 1) %>
</div>

<p>
<table id="server_list" class="display">
  <thead>
    <tr>
      <td>Host</td>
      <td>Department</td>
      <td>Technical Team</td>
      <td>Advocate</td>
      <td>SLA Level</td>
      <td>Environment</td>
      <td>Project</td>
      <td>Memory</td>
      <td>CPUs</td>
    </tr>
  </thead>
  <tbody>
    <% @servers.keys.sort.each do |hostname| %>
      <tr>
        <td><%= link_to(shorthost(hostname), server_path(shorthost(hostname))) %></td>
        <td><%= check_child(@servers[hostname]['puppetfacts'], 'department') %></td>
        <td><%= check_child(@servers[hostname]['puppetfacts'], 'technical_team') %></td>
        <td><%= check_child(@servers[hostname]['puppetfacts'], 'user_advocate') %></td>
        <td><%= check_child(@servers[hostname]['puppetfacts'], 'sla_level') %></td>
        <td><%= check_child(@servers[hostname]['puppetfacts'], 'environment') %></td>
        <td><%= check_child(@servers[hostname]['puppetfacts'], 'project') %></td>
        <td><%= check_child(@servers[hostname]['vmware'], 'memory') %></td>
        <td><%= check_child(@servers[hostname]['vmware'], 'cpus') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
