<div id="top_navigation">
  <%= render_navigation(:level => 1) %>
</div>

<p>
<table id="server_list" class="display">
  <thead>
    <tr>
      <td>Host</td>
      <td>Disks</td>
      <td>Network Interfaces</td>
      <td>Vault</td>
    </tr>
  </thead>
  <tbody>
    <% @servers.keys.sort.each do |host| %>
      <tr>
        <td valign="top"><%= link_to(shorthost(host), server_path(shorthost(host))) %></td>
        <td valign="top"><%=
            if @servers[host]['vmware'].key?('disks')
              raw(@servers[host]['vmware']['disks'].join('<br />'))
            end
        %></td>
        <td valign="top"><%=
          if @servers[host]['vmware'].key?('networks')
            raw(@servers[host]['vmware']['networks'].join('<br />'))
          end
        %></td>
        <td valign="top"><%=
          if @servers[host]['vault'].key?('secrets')
            raw(@servers[host]['vault']['secrets'].join('<br />'))
          end
        %></td>
      </tr>
    <% end %>
  </tbody>
</table>
